 /* Sencha Variables. */
 /* General base color for style. */
$base-color: #6699cc;
/* Used for action buttons and active items. */
$active-color: #ff9933; 
$base-gradient: 'flat';
$button-gradient: 'flat';

$list-active-color: #6699cc;

/* The blue cloobster color */
$cloobster-font-color: #1E4776;

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
/*Include additional icons*/
@include pictos-iconmask('user');
@include pictos-iconmask('time');
@include pictos-iconmask('volume_mute');
@include pictos-iconmask('volume');
@include pictos-iconmask('info_plain2');
@include pictos-iconmask('delete1');
@include pictos-iconmask('move');
/*custom icons in res folder! */
@include pictos-iconmask('exit');
@include pictos-iconmask('time');

@include sencha-toolbar-ui('gray', #C3C3C3, 'none');

@CHARSET "UTF-8";

@CHARSET "UTF-8";

/* general */

.font-bold {
	font-weight: bold;
}

/* Class for dialogs like spot selection or complete checkin */
.general-dialog {

	.description {
		background-color: #EEEEEE;
		font-size: 0.8em;
		text-align: center;
	}

}

/* spot view */

.spot {
	float: left;
	width: 150px;
	margin: 10px;
}

.spotitem {
	height: 130px;
	border: solid 1px;
	border-color: black;
	border-radius: 3px;
	background-color: grey;
	padding: 3px;
	word-break: break-word;
	/*box-shadow: 3px 3px 0.5em 0.1em gray;*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(3%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));*/
}

.spot div {
	width: 100%;
}


.spot h2 {
	text-align: center;
	font-size: 1.5em;
}

.spot p {
	text-align: center;

}

.spot-filter-panel {
/*	-webkit-box-shadow: 0em 0em 0em 0.3 #888;
	box-shadow: 0em 0em 0em 0.3 #888;*/
}

.spot-filter-label {
	text-align: center;
	font-size: 1.5em;
}

.spotitem-pressed {
	background-color: lightgray !important;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(97%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));*/
}

.spotSelected {
	background-color: rgb(100,100,200);	
}



.spotitem-checkedin {
	background-color: rgb(100,255,100);

	// needs latest Compass, add '@import "compass"' to your scss
/*	background-color: #c9de96; // Old browsers
	@include filter-gradient(#c9de96, #398235, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%));*/

}

.spotitem-placed {
	background-color: rgb(200,100,100);
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.spotitem-request {
	background-color: rgb(200,100,100);
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}

.spotitem-pay {

}

/* Login */
.loginbox {
	background-color: $cloobster-font-color !important;
}

.loginbox-field {
	margin-bottom: 0.5em;
}

/* Login choose business */
.loginbox-text {
	text-align: center;
	color: $cloobster-font-color;
	
	h1 {
		font-size: 1.2em;
	}
}

.spotdetail {
	background-color: white;
	border: 2px solid grey;
	border-radius: 0.3em;
	/*padding: 8px;*/
}

.spotdetail-titlebar {
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

.spotdetail-toolbar {
	background-color: #EEE;
	/*border-top: 2px solid black;*/
	/*padding-top: 3px;*/
}

.spotdetail-customer-name {
	word-break: break-word
}

.customer-highlight {
	
}

.spotdetail-customer-flag {
	background-color: red;
	float: left;
	margin-right: 3px;
	width: 20px;
	height: 20px;
	-webkit-mask-size: 20px;
	-webkit-mask-image: url('../images/request.png');
}

.spotdetail-toolbar-button {
	margin-right: 5px;
	margin-left: 5px;
}

.spotdetail-status-panel {
	background-color: #C3C3C3;
	margin-bottom: 0.5em;
	padding-bottom: 0.3em;
}

.spotdetail-status {

	margin: 5px;

	div {
		padding: 3px;
	}

	div.key {
		width: 120px;
		float: left;
		font-weight: bold;
	}

	div.value {
		text-align: right;
		display: inline;
		word-break: break-word;
	}

	div.order_placed{
		border: 1px solid black;	
		background-color: red;
	}
	div.payment_request{
		border: 1px solid black;	
		background-color: red;
	}
	div.checkedin{
		border: 1px solid black;	
		background-color: green;
	}

}

.spotdetail-status .order_placed{
	border: 1px solid black;	
	background-color: red;
}

.spotdetail-status .payment_request{
	border: 1px solid black;	
	background-color: red;
}

.spotdetail-status .checkedin{
	border: 1px solid black;	
	background-color: green;
}

.spotdetail-statistics {
	position: relative;
	top: 10px;
	height: 70px;
	background-color: grey;
	padding: 3px;
	margin: 5px;	
	border-radius: 0.5em;
	float: left;
	font-size: 0.7em;
	min-width: 40px;
}

.spotdetail-close {
	background-color: black;
	border-radius: 1em;
	text-align: center;	
	vertical-align: middle;
	color: white;
	height: 1.5em;
	width: 1.5em;
	position: absolute;
	right: 3px;
	top: 3px;
}

.spotdetailitem-customer-label {
	background-color: #EEEEEE;
	text-align: center;
	font-weight: bold;
}

.spotdetailitem-flag {
	width: 10%;
	top: 0;
	background-color: red;
	border: solid 1px;
	border-color: black;
	margin-right: 10px;
	margin-left: 5px;

}

.spotdetailitem-order {
	/*width: 70%;*/
	margin-bottom: 20px;
	font-size:0.8em;
}

.spotdetailitem-order h2{
	font-weight: bold;
	/*float: left;*/
	font-size:1.2em;
	margin-right: 10px;
}

.spotdetailitem-order h4{
	font-size: 1em;
}

.spotdetailitem-order h3{
	font-size: 1em;
	font-weight: bold;
}

.spotdetailitem-order-cancel {
	text-decoration: line-through;
}

.spotdetailitem-order-cancel h2{
	text-decoration: line-through;
}

.x-button-icon.spotdetailitem-confirm ,.x-button .x-button-icon.x-icon-mask.spotdetailitem-confirm {
	-webkit-mask-image: url('../images/check_icon.png');
	/*background-image: url('../images/check_icon.png');*/
}

.spotdetailitem-order div:nth-of-type(1){
	/*position: absolute; 
	right: 0; 
	width: 20%; */
/*	text-align: right; 
	padding-right: 5px;*/
}

.spotdetailitem-order .choices{
	clear: both;
	text-align: left;
}

.spotdetailitem-confirm {
	top: 0;
	/*position: absolute;*/
	/*right: 50px;*/
	/*width: 10%;*/
}

.spotdetailitem-cancel {
	/*width: 10%;*/
	top: 0;	
	/*position: absolute;*/
	margin-right: 5px;
	/*float: left;*/
}
.cancel-all {
	-webkit-mask-image: url('res/images/forbidden.png');
}

/* request view */

.requestitem-container {
	margin: 0.3em;
}

.requestitem-wrapper {
	/*border: 1px solid #C3C3C3;*/
	/*background-color: #c3c3c3;*/
	/*border-radius: 0.5em;*/
	margin: 1em;	
	color: black;
}

.requestitem-spot {
	border: 1px solid #000;
	background-color: #4975A2;
	margin-right: 1em;
	padding: 0.5em;
	border-radius: 0.5em;
	/*width: 20%;*/
	word-break: break-word;
}

.requestitem-customer {
	border: 1px solid #000;
	background-color: #C6D7E9;
	background-image: url('../images/order.png');
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	margin-right: 1em;
	padding: 0.5em;
	padding-left: 2em;
	border-radius: 0.5em;
	/*width: 65%;*/
}

.requestitem-time {
	border: 1px solid #000;
	background-color: #DFE8CB;
	background-image: url('../images/time.png');
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	padding: 0.5em;
	padding-left: 2.5em;
	border-radius: 0.5em;
	/*width: 25%;*/
}

.requestitem-wrapper-pressed {
	/*background-color: #F5B800;*/
	color: white;
}

.requestitem-alert {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}

/* history view */
.historyitem-container {
	margin: 0.3em;
}

.historyitem-wrapper {
	/*border: 1px solid #C3C3C3;*/
	/*background-color: #c3c3c3;*/
	/*border-radius: 0.5em;*/
	margin: 1em;	
	color: black;
}

.historyitem-spot {
	border: 1px solid #000;
	background-color: #4975A2;
	margin-right: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em;
	/*width: 20%;*/
	word-break: break-word;
}

.historyitem-customer {
	border: 1px solid #000;
	background-color: #C6D7E9;
	/*background-image: url('../images/order.png');*/
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	margin-right: 0.5em;
	padding: 0.5em;
	/*padding-left: 2em;*/
	border-radius: 0.5em;
	/*width: 20%;*/
}

.historyitem-time {
	border: 1px solid #000;
	background-color: #DFE8CB;
	background-image: url('../images/time.png');
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	margin-right: 0.5em;
	padding: 0.5em;
	padding-left: 2.5em;
	border-radius: 0.5em;
	/*width: 15%;*/
}

.historyitem-total {
	border: 1px solid #000;
	background-color: #D0F5A9;
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	padding: 0.5em;
	border-radius: 0.5em;
	text-align: right;
	/*width: 10%;*/
}

.historyitem-wrapper-pressed {
	color: white;
}

.history-info-panel {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	padding: 0.5em 0.3em 0.5em 0.3em;
	margin-bottom: 0.5em;
	background-color: #C3C3C3;
}

.history-info-panel .row {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
/*	-webkit-box-pack: end;*/
}

.history-info-panel .row>div {
	/*-webkit-box-flex: 1;*/
	width: 50%;
}

.history-detail-list-title {
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 0.3em;
	margin-bottom: 0.5em;

}

/* connections status indicator in bottom toolbar */

.status-indicator-ONLINE {

	.status {
		width: 1.2em;
		height: 1.2em;
		border-radius: 0.75em;
		float: right;
		margin: 0 .5em;
		background-color: #64FF64;
		border: 1px solid black;	
	}
	
}

.status-indicator-TIMEOUT {
	
	.status {
		width: 1.2em;
		height: 1.2em;
		border-radius: 0.75em;
		float: right;
		margin: 0 .5em;
		background-color: yellow;
		border: 1px solid black;
	}
}

.status-indicator-RECONNECT {
	.status {
		width: 1.2em;
		height: 1.2em;
		border-radius: 0.75em;
		float: right;
		margin: 0 .5em;
		background-color: yellow;	
		border: 1px solid black;
	}
}

.status-indicator-INITIALIZING {
	.status {
		width: 1.2em;
		height: 1.2em;
		border-radius: 0.75em;
		float: right;
		margin: 0 .5em;
		background-color: yellow;
		border: 1px solid black;	
	}
}

.status-indicator-CONNECTION_LOST {
	.status {
		width: 1.2em;
		height: 1.2em;
		border-radius: 0.75em;
		float: right;
		margin: 0 .5em;
		background-color: #FA5858;
		border: 1px solid black;	
	}
}

.status-indicator-DISCONNECTED {
	.status {
		width: 1.2em;
		height: 1.2em;
		border-radius: 0.75em;
		float: right;
		margin: 0 .5em;
		background-color: #FA5858;
		border: 1px solid black;	
	}
}

/* Volume Button */

.volume_mute {
	background-image: none !important;
	background-color: #FA5858 !important;
}

.volume {
	background-image: none !important;
	background-color: #64FF64 !important;
}


/* Lock button */
.locked-button .x-button-icon { 
	-webkit-mask-image: url('/cockpit/res/images/lock_closed.png');
	background-color: black;
	-webkit-mask-size: 20px;
	-webkit-mask-repeat: no-repeat;
	height: 20px;
	width: 20px;
	margin-right: 3px;
	display: block !important;

}