@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
/*Include additional icons*/
@include pictos-iconmask('user');
@include pictos-iconmask('time');

@CHARSET "UTF-8";

@CHARSET "UTF-8";


.spot {
	float: left;
	width: 150px;
	margin: 10px;
}

.spotitem {
	height: 120px;
	border: solid 1px;
	border-color: black;
	border-radius: 5px;
	background-color: grey;
	word-break: break-word;
}

.spot div {
	width: 100%;
}


.spot h2 {
	text-align: center;
	font-size: 1.5em;
}

.spot p {
	text-align: center;

}

.spot-filter-panel {
/*	-webkit-box-shadow: 0em 0em 0em 0.3 #888;
	box-shadow: 0em 0em 0em 0.3 #888;*/
}

.spot-filter-label {
	text-align: center;
	font-size: 1.5em;
}

.spotitem-pressed {
	background-color: rgb(100,100,100) !important;
}

.spotSelected {
	background-color: rgb(100,100,200);	
}



.spotitem-checkedin {
	background-color: rgb(100,255,100);
}

.spotitem-placed {
	background-color: rgb(200,100,100);
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.spotitem-request {
	background-color: rgb(200,100,100);
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}

.spotitem-pay {
}

.loginbox {
	background-color: rgb(100,100,200);	
}

.loginbox-field {
	margin-bottom: 0.5em;
}

.spotdetail {
	background-color: white;
	border: 2px solid grey;
	border-radius: 0.3em;
	/*padding: 8px;*/
}

.spotdetail-titlebar {
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

.spotdetail-toolbar {
	background-color: white;
	border-top: 2px solid black;
	padding-top: 3px;
}

.spotdetail-customer-name {
	word-break: break-word
}

.customer-highlight {
	
}

.spotdetail-customer-flag {
	background-color: red;
	float: left;
	margin-right: 3px;
}

.spotdetail-toolbar-button {
	margin-right: 5px;
	margin-left: 5px;
}

.spotdetail-status {
	position: relative;
	margin: 5px;	
	top: 10px;	
	/*float: left;*/
}

.spotdetail-status .order_placed{
	border: 1px solid black;	
	background-color: red;
	padding: 3px;
}

.spotdetail-status .payment_request{
	border: 1px solid black;	
	background-color: red;
	padding: 3px;
}

.spotdetail-status .checkedin{
	border: 1px solid black;	
	background-color: green;
	padding: 3px;
}

.spotdetail-statistics {
	position: relative;
	top: 10px;
	height: 70px;
	background-color: grey;
	padding: 3px;
	margin: 5px;	
	border-radius: 0.5em;
	float: left;
	font-size: 0.7em;
	min-width: 40px;
}

.spotdetail-close {
	background-color: black;
	border-radius: 1em;
	text-align: center;	
	vertical-align: middle;
	color: white;
	height: 1.5em;
	width: 1.5em;
	position: absolute;
	right: 3px;
	top: 3px;
}

.spotdetailitem-customer-label {
	background-color: white;
	text-align: center;
	font-weight: bold;
}

.spotdetailitem-flag {
	width: 10%;
	top: 0;
	background-color: red;
	border: solid 1px;
	border-color: black;
	margin-right: 10px;
	margin-left: 5px;

}

.spotdetailitem-order {
	width: 70%;
	margin-bottom: 20px;
	font-size:0.8em;
}

.spotdetailitem-order h2{
	font-weight: bold;
	/*float: left;*/
	font-size:1.2em;
	margin-right: 10px;
}

.spotdetailitem-order h4{
	font-size: 1em;
}

.spotdetailitem-order h3{
	font-size: 1em;
	font-weight: bold;
}

.spotdetailitem-order-cancel {
	text-decoration: line-through;
}

.spotdetailitem-order-cancel h2{
	text-decoration: line-through;
}

.x-button-icon.spotdetailitem-confirm ,.x-button .x-button-icon.x-icon-mask.spotdetailitem-confirm {
	-webkit-mask-image: url('../images/check_icon.png');
	/*background-image: url('../images/check_icon.png');*/
}

.spotdetailitem-order div:nth-of-type(1){
	/*position: absolute; 
	right: 0; 
	width: 20%; */
/*	text-align: right; 
	padding-right: 5px;*/
}

.spotdetailitem-order .choices{
	clear: both;
	text-align: left;
}

.spotdetailitem-confirm {
	top: 0;
	/*position: absolute;*/
	/*right: 50px;*/
	/*width: 10%;*/
}

.spotdetailitem-cancel {
	/*width: 10%;*/
	top: 0;	
	/*position: absolute;*/
	margin-right: 5px;
	/*float: left;*/
}
.cancel-all {
	-webkit-mask-image: url('res/images/forbidden.png');
}

/* request view */

.requestitem-container {
	margin: 0.3em;
}

.requestitem-wrapper {
	/*border: 1px solid #C3C3C3;*/
	/*background-color: #c3c3c3;*/
	/*border-radius: 0.5em;*/
	margin: 1em;	
	color: black;
}

.requestitem-spot {
	border: 1px solid #000;
	background-color: #4975A2;
	margin-right: 1em;
	padding: 0.5em;
	border-radius: 0.5em;
	/*width: 20%;*/
	word-break: break-word;
}

.requestitem-customer {
	border: 1px solid #000;
	background-color: #C6D7E9;
	background-image: url('../images/order.png');
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	margin-right: 1em;
	padding: 0.5em;
	padding-left: 2em;
	border-radius: 0.5em;
	/*width: 65%;*/
}

.requestitem-time {
	border: 1px solid #000;
	background-color: #DFE8CB;
	background-image: url('../images/time.png');
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	padding: 0.5em;
	padding-left: 2.5em;
	border-radius: 0.5em;
	/*width: 25%;*/
}

.requestitem-wrapper-pressed {
	/*background-color: #F5B800;*/
	color: white;
}

.requestitem-alert {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}

/* history view */
.historyitem-container {
	margin: 0.3em;
}

.historyitem-wrapper {
	/*border: 1px solid #C3C3C3;*/
	/*background-color: #c3c3c3;*/
	/*border-radius: 0.5em;*/
	margin: 1em;	
	color: black;
}

.historyitem-spot {
	border: 1px solid #000;
	background-color: #4975A2;
	margin-right: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em;
	/*width: 20%;*/
	word-break: break-word;
}

.historyitem-customer {
	border: 1px solid #000;
	background-color: #C6D7E9;
	/*background-image: url('../images/order.png');*/
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	margin-right: 0.5em;
	padding: 0.5em;
	/*padding-left: 2em;*/
	border-radius: 0.5em;
	/*width: 20%;*/
}

.historyitem-time {
	border: 1px solid #000;
	background-color: #DFE8CB;
	background-image: url('../images/time.png');
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	margin-right: 0.5em;
	padding: 0.5em;
	padding-left: 2.5em;
	border-radius: 0.5em;
	/*width: 15%;*/
}

.historyitem-total {
	border: 1px solid #000;
	background-color: #D0F5A9;
	background-repeat: no-repeat;
	background-position: 0.3em 50%;
	background-size: 30px;
	padding: 0.5em;
	border-radius: 0.5em;
	text-align: right;
	/*width: 10%;*/
}

.historyitem-wrapper-pressed {
	color: white;
}

/* connections status indicator in bottom toolbar */

.status-indicator .ONLINE {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: green;
}

.status-indicator .TIMEOUT {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: gray;
}

.status-indicator .RECONNECT {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: yellow;
}

.status-indicator .INITIALIZING {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: yellow;
}

.status-indicator .CONNECTION_LOST {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: white;
}

.status-indicator .DISCONNECTED {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: red;
}

.locked-button .x-button-icon {
	-webkit-mask-image: url('/cockpit/res/images/lock_closed.png');
	background-color: black;
	-webkit-mask-size: 20px;
	-webkit-mask-repeat: no-repeat;
	height: 20px;
	width: 20px;
	margin-right: 3px;
	display: block !important;

}