@CHARSET "UTF-8";


.spot {
	float: left;
	width: 150px;
	margin: 10px;
}

.spotitem {
	height: 100px;
	border: solid 1px;
	border-color: black;
	border-radius: 5px;
	background-color: grey;
}

.spot div {
	width: 100%;
}


.spot h2 {
	text-align: center;
	font-size: 1.5em;
}

.spot p {
	text-align: center;

}

.spotitem-pressed {
	background-color: rgb(100,100,100) !important;
}

.spotSelected {
	background-color: rgb(100,100,200);	
}



.spotitem-checkedin {
	background-color: rgb(100,255,100);
}

.spotitem-placed {
	background-color: rgb(200,100,100);
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.spotitem-request {
	background-color: rgb(200,100,100);
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}

.spotitem-pay {

}

.loginbox {
	background-color: rgb(100,100,200);	
}

.loginbox-field {
	margin-bottom: 10px;
}

.spotdetail {
	background-color: white;
	border: 2px solid grey;
	border-radius: 0.3em;
	/*padding: 8px;*/
}

.spotdetail-titlebar {
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

.spotdetail-toolbar {
	background-color: white;
	border-top: 2px solid black;
	padding-top: 3px;
}

.spotdetail-customer-name {
	float: left;
	margin-right: 3px;
}

.spotdetail-customer-flag {
	background-color: red;
}

.spotdetail-toolbar-button {
	margin-right: 5px;
	margin-left: 5px;
}

.spotdetail-status {
	position: relative;
	margin: 5px;	
	top: 10px;	
	float: left;
}

.spotdetail-status .order_placed{
	border: 1px solid black;	
	background-color: red;
	padding: 3px;
}

.spotdetail-status .payment_request{
	border: 1px solid black;	
	background-color: red;
	padding: 3px;
}

.spotdetail-status .checkedin{
	border: 1px solid black;	
	background-color: green;
	padding: 3px;
}

.spotdetail-statistics {
	position: relative;
	top: 10px;
	height: 70px;
	background-color: grey;
	padding: 3px;
	margin: 5px;	
	border-radius: 0.5em;
	float: left;
	font-size: 0.7em;
	min-width: 40px;
}

.spotdetail-close {
	background-color: black;
	border-radius: 1em;
	text-align: center;	
	vertical-align: middle;
	color: white;
	height: 1.5em;
	width: 1.5em;
	position: absolute;
	right: 3px;
	top: 3px;
}

.spotdetailitem-customer-label {
	background-color: white;
}

.spotdetailitem-flag {
	width: 10%;
	top: 0;
	background-color: red;
	border: solid 1px;
	border-color: black;
	margin-right: 10px;
	margin-left: 5px;

}

.spotdetailitem-order {
	width: 70%;
	margin-bottom: 20px;
	font-size:0.8em;
}

.spotdetailitem-order h2{
	font-weight: bold;
	float: left;
	font-size:1em;
	margin-right: 10px;
}

.spotdetailitem-order h3{
	font-weight: bold;
	font-size:0.8em;
}

.spotdetailitem-order-cancel {
	text-decoration: line-through;
}

.spotdetailitem-order-cancel h2{
	text-decoration: line-through;
}

.x-button-icon.spotdetailitem-confirm ,.x-button .x-button-icon.x-icon-mask.spotdetailitem-confirm {
	-webkit-mask-image: url('../images/check_icon.png');
	/*background-image: url('../images/check_icon.png');*/
}

.spotdetailitem-order div:nth-of-type(1){
	/*position: absolute; 
	right: 0; 
	width: 20%; */
	text-align: right; 
	padding-right: 5px;
}

.spotdetailitem-order .choices{
	clear: both;
	margin-left: 10px;
}

.spotdetailitem-confirm {
	top: 0;
	/*position: absolute;*/
	/*right: 50px;*/
	/*width: 10%;*/
}

.spotdetailitem-cancel {
	/*width: 10%;*/
	top: 0;	
	/*position: absolute;*/
	margin-right: 5px;
	/*float: left;*/
}
.cancel-all {
	-webkit-mask-image: url('res/images/forbidden.png');
}

/* connections status indicator in bottom toolbar */

.status-indicator .ONLINE {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: green;
}

.status-indicator .TIMEOUT {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: gray;
}

.status-indicator .RECONNECT {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: yellow;
}

.status-indicator .INITIALIZING {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: yellow;
}

.status-indicator .CONNECTION_LOST {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: white;
}

.status-indicator .DISCONNECTED {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	float: right;
	margin: 0px 0.5em;
	background-color: red;
}